
Jinja2
opencv-python-headless
pandas
pillow
psycopg2-binary
SQLAlchemy
sqlmodel
streamlit-drawable-canvas
streamlit-image-comparison
streamlit-image-coordinates
streamlit-metrics
streamlit_folium
supervision
ultralytics
roboflow
opencv-contrib-python-headless
streamlit_webrtc
inference
scikit-learn